<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <customErrors mode="Off"/>
        <authentication mode="None">
        </authentication>
        <httpModules>
        </httpModules>
    </system.web>
<!-- If you use AcceptEncodingModule, you need this too
    <mono.aspnet>
        <acceptEncoding>
	    <add encoding="gzip" type="Mono.Http.GZipWriteFilter, Mono.Http, Version=1.0.5000.0, PublicKeyToken=0738eb9f132ed756" disabled="no" />
	</acceptEncoding>
    </mono.aspnet>
-->

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <appSettings>
        <add key="MonoServerDefaultIndexFiles"
             value="index.aspx, Default.aspx, default.aspx, index.html, index.htm" />
<!--	
    
	<add key="DBProviderAssembly"
	     value="Npgsql"/>
	<add key="DBConnectionType"
	     value="Npgsql.NpgsqlConnection"/>
	<add key="DBConnectionString"
	     value="server=127.0.0.1;user id=monotest;password=monotest;dbname=monotest"/> -->
	<!--<add key="Authentication" value="Basic" />
	<add key="Basic.Users" value="basic-auth.txt" />-->
	<!--<add key="Authentication" value="Digest" />
	<add key="Digest.Users" value="basic-auth.txt" />-->
    </appSettings>
    <system.codedom>
    <compilers>
      <compiler
        language="c#;cs;csharp"  extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, DotNetCompilerPlatform"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
    </compilers>
  </system.codedom>
</configuration>