Makefile
/aclocal.m4
/autom4te.cache/
/config.guess
/config.log
/config.status
/config.sub
/configure
/missing
*.mdb
*.pdb
*.exe
build/m4/*
src/*/bin
src/*/obj
xsp.v11.suo
src/Mono.WebServer.Test/test-results/
lib/libfpm*
lib/fpm_helper.o
lib/fpm_helper.lo
lib/.deps
lib/.libs
shim/shim
shim/shimtest
shim/shim-shim.o
shim/.deps
Packages/
.vs*/
*.nupkg
